/* /---Start  Global Rules--/ */

*{
    padding: 0%;
    margin: 0%;
}

:root{
    --main-color:#0357f8;
    --transparent-color: #e4eaf8;
    --background:#ffffff;
}

.clear{
    clear: both;
}

html{
    scroll-behavior: smooth;
}

/* /----End Global Rules---/ */

/* /----start header ------/ */
body{
    background-color: var(--background);
    min-height: 150vh;
    vertical-align: middle;
    display: flex;

}
.card{
    margin: auto;
    width: 600px;
    padding: 3rem 3.5rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10%;

}
.textt{

    color: var(--main-color);
}

.nav ul li  a:hover {
    color: #0357f8;
}

@media(max-width:767px){
    .card{
        width: 90%;
        padding: 1.5rem;
    }
}
@media(height:1366px){
    .card{
        width: 90%;
        padding: 8vh;
    }
}
.card-title{
    font-weight: 700;
    font-size: 2.5em;
}
.nav{
    display: flex;
}
.nav ul{
    list-style-type: none;
    display: flex;
    padding-inline-start: unset;
    margin-bottom: 6vh;
}
.nav li{
    padding: 1rem;
}
.nav li a{
    color: black;
    text-decoration: none;
}
.active:hover{
    border-bottom: 1px solid var(--main-color);
    font-weight: bold;
}

input{
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    width: 100%;
    min-width: unset;
    background-color: transparent;
    border-color: transparent;
    margin: 0;
}
form a{
    color:grey;
    text-decoration: none;
    font-size: 0.87rem;
    font-weight: bold;
}
form a:hover{
    color:grey;
    text-decoration: none;
}
form .row{
    margin: 0;
    overflow: hidden;
}

form .row-1{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 0.5rem;
    outline: none;
    width: 100%;
    min-width: unset;
    border-radius: 5px;
    background-color: rgba(221, 228, 236, 0.301);
    border-color: rgba(221, 228, 236, 0.459);
    margin: 2vh 0;
    overflow: hidden;
}


form .row .col-2,.col-7,.col-3{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 1vh;
}
form .row .col-2{
    padding-right: 0;
}

#card-header{
    font-weight: bold;
    font-size: 0.9rem;
}
#card-inner{
    font-size: 0.7rem;
    color: gray;
}
.three .col-7{
    padding-left: 10;
}
.three{
    overflow: hidden;
    justify-content: space-between;
}

.three .box{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 0.5rem;
    outline: none;
    width: 10%;
    min-width: unset;
    border-radius: 5px;
    background-color: rgba(221, 228, 236, 0.301);
    border-color: rgba(221, 228, 236, 0.459);
    margin: 3vh 10;
    width:15%;
    overflow: hidden;
}
.three .col-2 input{
    font-size: 0.7rem;
    margin-left: 1vh;
}
.btn{
    width: 50%;
    background-color:#0357f8;
    color: white;
    justify-content: center;
    padding: 1.5vh 0;
    margin-top: 3vh;
}

.btn:hover{
    background-color: rgb(44, 44, 250);
    color: white;
}


input:focus::-webkit-input-placeholder {
    color:transparent;
}
input:focus:-moz-placeholder {
    color:transparent;
}
input:focus::-moz-placeholder {
    color:transparent;
}
input:focus:-ms-input-placeholder {
    color:transparent;
}
